@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');

:root {
  --color: #6930c3;
  --secondary-color: #3282b8;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: all .2s linear;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

.heading {
  margin: 2rem;
  padding-top: 6rem;
  display: inline-block;
  font-size: 3.5rem;
  color: var(--color);
  position: relative;
  letter-spacing: .2rem;
}

.heading::before, .heading::after {
  content: '';
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  border-top: .4rem solid var(--color);
  border-left: .4rem solid var(--color);
}

.heading::before {
  top: 5.8rem;
  left: -2rem;
}

.heading::after {
  bottom: -.5rem;
  right: -2rem;
  transform: rotate(180deg);
}

.btn {
  outline: none;
  border: none;
  border-radius: 5rem;
  background: var(--color);
  color: #fff;
  cursor: pointer;
  height: 3.5rem;
  width: 15rem;
  font-size: 1.7rem;
  box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .3);
}

.btn:hover {
  letter-spacing: .1rem;
  opacity: .8;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  /* background:rgb(105,48,195); */
}

.header .logo .logo_text {
  font-size: 2.5rem;
  color: #fff;
}

.header .logo i {
  padding: 0 .5rem;
}

.header .navbar ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header .navbar ul li {
  margin: 0 1.5rem;
}

.header .navbar ul li a {
  font-size: 2rem;
  color: #fff;
}

.header .navbar ul li a:hover {
  color: #ccc;
}

.header .fa-bars {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
  display: none;
}

.home {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #27D5AB);
  background-size: 400% 400%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  padding: 0 1rem;
  position: relative;
  overflow: hidden !important;
  animation: change 5s ease-in-out infinite;
}

.home .banner {
  color: #fff;
  font-size: 5rem;
  text-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}

.home .slogan {
  color: #eee;
  font-size: 2.5rem;
  font-weight: 400;
}

.home button {
  height: 4rem;
  width: 18rem;
  background: #fff;
  color: #444;
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 400;
  box-shadow: 0 .3rem .5rem rgba(0, 0, 0, .3);
}

.home button:hover {
  letter-spacing: .1rem;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

/* home section ends */
/* image gallery section starts */
. {
  box-sizing: border-box;
  margin: 0 ;
}
body{
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 10rem 1rem 1rem 1rem;
}

.sliderText{
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 200% 200%;
  animation: change 2s ease-in-out infinite;
}
.sliderText h3{
  color: #fff;
  font-size: 3rem;
}
.responsive-image {
  max-width: 100%;
}

.cell img {
  display: block;
}
@media screen and (min-width: 600px){
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .cell {
    width:50%;
    border: 1rem solid black ;
  }
}
@media screen and (min-width: 1000px){
  .cell {
    width:calc (100%/3);
  }
}
.cell {
  margin: 1rem;
  border: 1rem solid black;
}

@media screen and (min-width: 600px){
  .cell {
    width: calc(50% - 2rem);
    border: 1rem solid black;
    margin: 3rem;
  }
}
@media screen and (min-width: 1000px){
  .cell{
    width: calc(33.3333% - 2rem);
    border: 1rem solid black;
  }
}

.module-border-wrap {
  max-width: 300px;
  position: relative;
  padding: 2rem;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #27D5AB);
  background-size: 300% 300%;
  animation: change 2s ease-in-out infinite;
  border: 0;
  margin: 2rem;
}
/* animated border */


/* footer starts */
.footer-distributed {
  background-color: #2c292f;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left {
  width: 50%;
}

.footer-distributed h3 {
  color: #ffffff;
  margin: 0;
}

/* The company logo */
.footer-distributed h3 span {
  color: #3282b8;
}

/* Footer links */
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-links a:hover {
  color: var(--secondary-color);
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Right */
/* .footer-distributed .footer-right{
	width: 50%;
} */
.footer-distributed .footer-right i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-right i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-right p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-right p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-right p a {
  color: var(--secondary-color);
  text-decoration: none;
  text-transform: none;
}

/* media queries for footer */
@media (max-width: 880px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-right i {
    margin-left: 0;
  }
}

@media (max-width:768px) {
  html {
    font-size: 50%;
  }

  .header .fa-bars {
    display: block;
  }

  .header .navbar {
    position: fixed;
    top: -120%;
    left: 0;
    height: auto;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    border-top: .1rem solid rgba(0, 0, 0, .3);
  }

  .header .navbar ul {
    height: 100%;
    width: 100%;
    flex-flow: column;
  }

  .header .navbar ul li {
    margin: 1rem 0;
  }

  .header .navbar ul li a {
    color: var(--color);
    font-size: 2.4rem;
  }

  .header .fa-times {
    transform: rotate(180deg);
  }

  .header .nav-toggle {
    top: 5.8rem;
  }

  .home .banner {
    font-size: 4rem;
  }

  .home .slogan {
    font-size: 1.7rem;
  }


}
